.container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2rem); 
    padding-left: 1rem;
    padding-right: 1rem;
    @media only screen and (min-width: 40.0625em) {
      padding-left: 2rem;
      padding-right: 2rem;
      width: calc(100% - 4rem); 
    }
    @media only screen and (min-width: 64.0625em) {
      padding-left: 3rem;
      padding-right: 3rem;
      width: calc(100% - 6em); 
      max-width: 1120px;
    }
}
  
// Spacing Classes --- Created by Michael Michniewicz
@for $spacingvalues from 0 through 200 {
    // Create Margin Classes
    .m-#{$spacingvalues} {
        margin: #{$spacingvalues}px !important; // Create Margins Classes
    }
    .mt-#{$spacingvalues} {
        margin-top: #{$spacingvalues}px !important; // Create Top Margins Classes
    }
    .mb-#{$spacingvalues} {
        margin-bottom: #{$spacingvalues}px !important; // Create Bottom Margins Classes
    }
    .ml-#{$spacingvalues} {
        margin-left: #{$spacingvalues}px !important; // Create Left Margins Classes
    }
    .mr-#{$spacingvalues} {
        margin-right: #{$spacingvalues}px !important; // Create Right Margins Classes
    }
    // Create Neg Margin Classes
    .mt-neg-#{$spacingvalues} {
        margin-top: -#{$spacingvalues}px !important; // Create negative top margin Classes
    }
    .mb-neg-#{$spacingvalues} {
        margin-bottom: -#{$spacingvalues}px !important; // Create negative bottom margin Classes
    }
    .ml-neg-#{$spacingvalues} {
        margin-left: -#{$spacingvalues}px !important; // Create negative left margin Classes
    }
    .mr-neg-#{$spacingvalues} {
        margin-right: -#{$spacingvalues}px !important; // Create negative right margin Classes
    }
    // Create Padding Classes
    .pb-#{$spacingvalues} {
        padding-bottom: #{$spacingvalues}px !important; // Create Bottom Paddings Classes
    }
    .pt-#{$spacingvalues} {
        padding-top: #{$spacingvalues}px !important; // Create Top Paddings Classes
    }
    .pr-#{$spacingvalues} {
        padding-right: #{$spacingvalues}px !important; // Create Right Paddings Classes
    }
    .pl-#{$spacingvalues} {
        padding-left: #{$spacingvalues}px !important; // Create Left Paddings Classes
    }
    .p-#{$spacingvalues} { 
        padding: #{$spacingvalues}px !important; // Create Padding Classes 
    }
    // Create Position Spacing Classes
    .t-#{$spacingvalues} { 
        top: #{$spacingvalues}px; // Create Position Top Classes	
    }
    .b-#{$spacingvalues} { 
        bottom: #{$spacingvalues}px; // Create Position Bottom Classes	
    }
    .l-#{$spacingvalues} { 
        left: #{$spacingvalues}px; // Create Position Right Classes
    }
    .r-#{$spacingvalues} { 
        right: #{$spacingvalues}px; // Create Position Right Classes
    }
}

@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
// Create Tablet Spacing Classes --- Created by Michael Michniewicz
    @for $spacingvalues from 0 through 200 {
        // Tablet padding classes
        .pt-#{$spacingvalues}-t {
            padding-top: #{$spacingvalues}px !important; // Create Top Mobile Paddings Classes
        }
        .pb-#{$spacingvalues}-t {
            padding-bottom: #{$spacingvalues}px !important; // Create Bottom MobilePaddings Classes
        }
        .pr-#{$spacingvalues}-t {
        padding-right: #{$spacingvalues}px !important; // Create Right Paddings Classes
        }
        .pl-#{$spacingvalues}-t {
            padding-left: #{$spacingvalues}px !important; // Create Left Paddings Classes
        }
        .p-#{$spacingvalues}-t { 
            padding: #{$spacingvalues}px !important; // Create Padding Classes 
        }
        // Tablet margin classes
        .m-#{$spacingvalues}-t {
            margin: #{$spacingvalues}px !important; // Create Margins Classes
        }
        .mt-#{$spacingvalues}-t {
            margin-top: #{$spacingvalues}px !important; // Create Top Margins Classes
        }
        .mb-#{$spacingvalues}-t {
            margin-bottom: #{$spacingvalues}px !important; // Create Bottom Margins Classes
        }
        .ml-#{$spacingvalues}-t {
            margin-left: #{$spacingvalues}px !important; // Create Left Margins Classes
        }
        .mr-#{$spacingvalues}-t {
            margin-right: #{$spacingvalues}px !important; // Create Right Margins Classes
        }
        // Tablet neg margin classes
        .mt-neg-#{$spacingvalues}-t {
            margin-top: -#{$spacingvalues}px !important; // Create negative top margin Classes
        }
        .mb-neg-#{$spacingvalues}-t {
            margin-bottom: -#{$spacingvalues}px !important; // Create negative bottom margin Classes
        }
        .ml-neg-#{$spacingvalues}-t {
            margin-left: -#{$spacingvalues}px !important; // Create negative left margin Classes
        }
        .mr-neg-#{$spacingvalues}-t {
            margin-right: -#{$spacingvalues}px !important; // Create negative right margin Classes
        }
    }
}

@media only screen and (max-width: 40em) {
    // Create Mobile Spacing Classes --- Created by Michael Michniewicz
    @for $spacingvalues from 0 through 200 {
        // Mobile padding classes
        .pt-#{$spacingvalues}-m {
            padding-top: #{$spacingvalues}px !important; // Create Top Mobile Paddings Classes
        }
        .pb-#{$spacingvalues}-m {
            padding-bottom: #{$spacingvalues}px !important; // Create Bottom MobilePaddings Classes
        }
        .pr-#{$spacingvalues}-m {
        padding-right: #{$spacingvalues}px !important; // Create Right Paddings Classes
        }
        .pl-#{$spacingvalues}-m {
            padding-left: #{$spacingvalues}px !important; // Create Left Paddings Classes
        }
        .p-#{$spacingvalues}-m { 
            padding: #{$spacingvalues}px !important; // Create Padding Classes 
        }
        // Mobile margin classes
        .m-#{$spacingvalues}-m {
            margin: #{$spacingvalues}px !important; // Create Margins Classes
        }
        .mt-#{$spacingvalues}-m {
            margin-top: #{$spacingvalues}px !important; // Create Top Margins Classes
        }
        .mb-#{$spacingvalues}-m {
            margin-bottom: #{$spacingvalues}px !important; // Create Bottom Margins Classes
        }
        .ml-#{$spacingvalues}-m {
            margin-left: #{$spacingvalues}px !important; // Create Left Margins Classes
        }
        .mr-#{$spacingvalues}-m {
            margin-right: #{$spacingvalues}px !important; // Create Right Margins Classes
        }
        // Mobile neg margin classes
        .mt-neg-#{$spacingvalues}-m {
            margin-top: -#{$spacingvalues}px !important; // Create negative top margin Classes
        }
        .mb-neg-#{$spacingvalues}-m {
            margin-bottom: -#{$spacingvalues}px !important; // Create negative bottom margin Classes
        }
        .ml-neg-#{$spacingvalues}-m {
            margin-left: -#{$spacingvalues}px !important; // Create negative left margin Classes
        }
        .mr-neg-#{$spacingvalues}-m {
            margin-right: -#{$spacingvalues}px !important; // Create negative right margin Classes
        }
    }
}


//* CSS helpers and grid classes *///

.h1, .h2, .h3, .h4, .h5, .h6 {
color: #333; 
font-weight: 600;
}

h1, .h1 {
font-size: 1.625rem;
line-height: 2rem;
@media only screen and (min-width: 40.063em) {
    font-size: 2rem;
    line-height: 2.5rem; 
}
}

h2, .h2 {
    font-size: 1.4375rem;
    line-height: 2rem;
@media only screen and (min-width: 40.063em) {
    font-size: 1.75rem;
    line-height: 2.25rem;
}
}

h3, .h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
@media only screen and (min-width: 40.063em) {
    font-size: 1.5rem;
    line-height: 2rem;
}
}

h4, .h4 {
font-size: 1.125rem; 
line-height: 1.5rem;
@media only screen and (min-width: 40.063em) {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
}


.brd-r-1 {
border-radius: 2px;
}
.brd-r-2 {
border-radius: 2px;
}
.brd-r-3 {
border-radius: 3px;
}
.brd-r-4 {
border-radius: 4px;
}
.brd-r-5 {
border-radius: 5px;
}
.brd-r-6 {
border-radius: 6px;
}
.brd-r-8 {
border-radius: 8px;
}
.brd-r-10 {
border-radius: 10px;
}
.brd-r-b-10 {
border-radius: 0 0 10px 10px;
}
.h-100-p {
height: 100%;
}
.w-100-p {
width: 100%;
}
.h-auto-m {
@media only screen and (max-width: 40em)  {
    height: auto;
}
}
.hide {
display: none;
}
.d-none { 
display: none !important;
&-m {
    @media only screen and (max-width: 40em)  {
    display: none !important;
    }
}
&-t {
    @media only screen and (min-width: 40.063em) and (max-width: 64em)  {
    display: none !important;
    }
}
&-t-up {
    @media only screen and (min-width: 40.063em) {
    display: none !important;
    }
}
&-t-down {
    @media only screen and (max-width: 64em) {
    display: none !important;
    }
}
&-d-up {
    @media only screen and (min-width: 64.063em) {
    display: none !important;
    }
}
}

.d-block { 
display: block !important;
&-m {
    @media only screen and (max-width: 40em)  {
    display: block !important;
    }
}
&-t {
    @media only screen and (min-width: 40.063em) and (max-width: 64em)  {
    display: block !important;
    }
}
&-t-up {
    @media only screen and (min-width: 40.063em) {
    display: block !important;
    }
}
&-t-down {
    @media only screen and (max-width: 64em) {
    display: block !important;
    }
}
&-d-up {
    @media only screen and (min-width: 64.063em) {
    display: block !important;
    }
}
}

.d-inline-block { 
display: inline-block !important;
&-m {
    @media only screen and (max-width: 40em)  {
    display: inline-block !important;
    }
} 
&-t {
    @media only screen and (min-width: 40.063em) and (max-width: 64em)  {
    display: inline-block !important;
    }
}
&-t-up {
    @media only screen and (min-width: 40.063em) {
    display: inline-block !important;
    }
}
&-t-down {
    @media only screen and (max-width: 64em) {
    display: inline-block !important;
    }
}
&-d-up {
    @media only screen and (min-width: 64.063em) {
    display: inline-block !important;
    }
}
}

.sr-only { 
position: absolute;
left: -10000px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;
} 


/* Start temporary display classes for Find a Rate */
@media only screen and (min-width: 64.063em)  {
.d-md-none {
    display: none !important;
}
.d-md-block {
    display: block !important;
}
}

@media only screen and (min-width: 40.063em)   {
.d-sm-none {
    display: none !important;
}
.d-sm-block {
    display: block !important;
}
}
/* End temporary display classes for Find a Rate */

.d-grid { 
display: grid !important;
}

.d-flex { 
display: flex !important;
}

.overflow-hidden {
overflow: hidden; 
}

@media only screen and (min-width: 64.063em)  {
.d-flex-d {
    display: flex !important;
}
}

.show-for-sr { /* show for screen readers only */
clip: rect(1px, 1px, 1px, 1px);
height: 1px;
overflow: hidden;
position: absolute !important;
width: 1px;
}

.f-unset {
float: unset !important;
}
.f-l { // float left styles
float: left !important;
&-t { 
    @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    float: left !important;
    }
}
&-m {
    @media only screen and (max-width: 40em) {
    float: left !important;
    }
}
&-t-down {
    @media only screen and (max-width: 64em) {
    loat: left !important;
    }
}
&-d-up {
    @media only screen and (min-width: 64.0625em) {
    float: left !important;
    }
}
}
.f-r { // float right styles
float: right !important;
&-t { 
    @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    float: right !important;
    }
}
&-m {
    @media only screen and (max-width: 40em) {
    float: right !important;
    }
}
&-t-down {
    @media only screen and (max-width: 64em) {
    float: right !important;
    }
}
&-d-up {
    @media only screen and (min-width: 64.0625em) {
    float: right !important;
    }
}
}

.f-none {
float: none !important;
}

.t-center, .text-center { // text-center added for backward compatibility with foundation
text-align: center !important;
&-m { 
    @media only screen and (max-width: 40em) {
    text-align: center !important;
    }
}
&-d-up {
    @media only screen and (min-width: 64.0625em) {
    text-align: center !important;
    }
}
}

.t-right { 
text-align: right !important;
&-m {
    @media only screen and (max-width: 40em) {
    text-align: right !important;
    }
}
&-d-up {
    @media only screen and (min-width: 64.0625em) {
    text-align: right !important;
    }
}

}

.tt-uppercase {
text-transform: uppercase !important; 
}

.ai-center { 
align-items: center;
} 

.jc-center {
justify-content: center;
}

.p-relative { 
position: relative !important;
}

.p-absolute { 
position: absolute !important;
}

.z-index-2 {
z-index: 2 !important;
}

.z-index-9999 {
z-index: 9999 !important;
}

/* width helpers */

.min-w-100-p {
min-width: 100%;
@media only screen and (max-width: 40em) {
    &-m {
    min-width: 100%;
    }
}
}

.fw-300{
font-weight: 300 !important;
}

.fw-400 {
font-weight: 400 !important;
}

.fw-500 {
font-weight: 500 !important;
}

.fw-600 {
font-weight: 600 !important;
}

.fw-700 {
font-weight: 700 !important;
}

.fs-20 {
font-size: 20px;
}

@media only screen and (max-width: 40em) {
.fs-18-m {
    font-size: 18px;
}
}
.bg-color-grey {
background-color: #EEEEEE !important;
}
.bg-color-white {
background-color: #ffffff !important;
}
.box-shadow {
box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.15);
} 
.box-shadow-dark {
box-shadow: 0px 4px 4px -2px #0030870F;
box-shadow: 0px 12px 16px -8px #0030871F;
}
.text-break {
word-break: break-word;
}
.c-black {
color: #000;
} 
.c-link {
color: #003087;
font-size: 1rem;
line-height: 1.5rem; 
}
.ls-none {
list-style: none;
margin-left: 0px;
li {
    padding-left: 0;
    padding-bottom: 0.5rem;
    padding-top: 0;
}
}
.c-white {
color: #fff;
strong, b {
    color: #fff;
}
}
@media only screen and (max-width: 40em) {
.c-white-m {
    color: #fff;
}
a.c-white-m:hover, a.c-white-m:focus {
    color: #fff;
}
.underline-m {
    text-decoration: underline;
}
}
a.c-white:hover, a.c-white:focus {
color: #fff;
background-color: rgba(0, 0, 0, 0.2);
}

/* Start Grid layout classes */
.column-2, .column-3, .column-4, .column-5, .grid-2-10, .grid-3-9, .grid-4-8, .grid-5-7, .grid-7-5, .grid-8-4, .grid-9-3, .grid-10-2 {
display: grid;
grid-template-columns: 100%;
row-gap: 2rem;
@media only screen and (min-width: 40.0625em) {
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
        grid-template-columns: 50% 50%;
        column-gap: 0rem; 
    } 
}
@media only screen and (min-width: 64.0625em) {
    &.column-row-gap-3-d-up {
    row-gap: 3rem;
    }
    &.column-row-gap-4-d-up {
    row-gap: 4rem;
    }
}
p {
    margin-bottom: 1.5rem;
}
}

.column-3 {
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(33.33% - 1.33rem) calc(33.33% - 1.33rem) calc(33.33% - 1.33rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 33.33% 33.33% 33.33%;
    }
}
}
.column-4 {
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(25% - 1.5rem) calc(25% - 1.5rem) calc(25% - 1.5rem) calc(25% - 1.5rem); 
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 25% 25% 25% 25%;
    }
}
}

.column-5 {
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(20% - 1.6rem) calc(20% - 1.6rem) calc(20% - 1.6rem) calc(20% - 1.6rem) calc(20% - 1.6rem);
    column-gap: 2rem;
    &.column-no-gap {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}
}
.grid-2-10 {
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(20% - 1rem) calc(80% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 20% 80%;
    }
}
}
.grid-3-9 {
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(25% - 1rem) calc(75% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 25% 75%;
    }
}
}
.grid-4-8 {
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(33.33% - 1rem) calc(66.66% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 33.33% 66.66%;
    }
}
}
.grid-5-7 { 
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(41.66% - 1rem) calc(58.33% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 41.66% 58.33%;
    }
}
}
.grid-7-5 { 
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(58.33% - 1rem) calc(41.66% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 58.33% 41.66%;
    }
}
}
.grid-8-4 {
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(66.66% - 1rem) calc(33.33% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 66.66% 33.33%;
    }
}
}
.grid-9-3 {
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(75% - 1rem) calc(25% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 75% 25%;
    }
}
}
.grid-10-2 {
@media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(80% - 1rem) calc(20% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 80% 20%;
    }
}
}
@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
.column-1-t { /* 1 column on tablet */
    grid-template-columns: 100% !important;
    row-gap: 2rem;
} 
.column-3-t { /* 3 column on tablet */
    grid-template-columns: calc(33.33% - 1.33rem) calc(33.33% - 1.33rem) calc(33.33% - 1.33rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 33.33% 33.33% 33.33%;
    }
}
.grid-2-10-t {
    grid-template-columns: calc(20% - 1rem) calc(80% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 20% 80%;
    }
}
.grid-3-9-t {
    grid-template-columns: calc(25% - 1rem) calc(75% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
        grid-template-columns: 25% 75%;
    }
}
.grid-5-7-t { 
    @media only screen and (min-width: 64.0625em) {
    grid-template-columns: calc(41.66% - 1rem) calc(58.33% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
        grid-template-columns: 41.66% 58.33%;
    }
    }
}

.grid-7-5-t {
    grid-template-columns: calc(58.33% - 1rem) calc(41.66% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 58.33% 41.66%;
    }
}
.grid-8-4-t {
    grid-template-columns: calc(66.66% - 1rem) calc(33.33% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 66.66% 33.33%;
    }
}
.grid-8-t {
    grid-template-columns: 66.66% !important;
}
.grid-9-t {
    grid-template-columns: 75% !important; 
}
.column-no-row-gap-t {
    row-gap: 0rem; 
} 
.column-row-gap-3-t {
    row-gap: 3rem;
}
.column-row-gap-4-t {
    row-gap: 4rem;
}
}

@media only screen and (max-width: 64em) {
.column-no-row-gap-t-down {
    row-gap: 0rem; 
} 
.grid-row-1-t-down {
    grid-row: 1; 
}
.grid-row-2-t-down {
    grid-row: 2;
}
.grid-2-10-t-down {
    grid-template-columns: calc(20% - 1rem) calc(80% - 1rem);
    column-gap: 2rem;
    &.column-no-gap {
    grid-template-columns: 20% 80%;
    }
}
}

@media only screen and (max-width: 40em) {
.column-2-m {
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    column-gap: 2rem;
}
.column-no-row-gap-m {
    row-gap: 0rem; 
} 
.grid-row-1-m {
    grid-row: 1; 
}
.grid-row-2-m {
    grid-row: 2;
}
.column-row-gap-3-m {
    row-gap: 3rem;
}
.column-row-gap-4-m {
    row-gap: 4rem;
}
}


// Start column specific layout styles

@media only screen and (min-width: 64.0625em) {
.column-span-2-d {
    grid-column: span 2;
}
.column-span-3-d {
    grid-column: span 3;
} 
.column-span-4-d {
    grid-column: span 4;
}
}

// End column specific layout styles

/* End Grid layout classes */
  